<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilhsy.spinner.pharm">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="The Pharm"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">

        <activity
            android:name="com.wilhsy.spinner.pharm.PreviewActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wilhsy.spinner.pharm.MainActivity"
            android:label="The Pharm"
            android:screenOrientation="landscape">
        </activity>

    </application>
</manifest>


